# Dependencies
/node_modules

# Build output
/dist

# Environment variables & secrets
.env
.env.production
.env.development
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Unit testing coverage
/coverage

# IDEs and editors
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db

# Dynamic user uploads
/uploads
